<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <nav>
      <% if (user) { %>
      <h1>Welcome <%= user.username %>!</h1>
      <img
        src="/uploads/<%= user.profileImage %>"
        alt="Profile Image"
        style="width: 100px; height: 100px"
      />

      <a href="/auth/sign-out">Sign out</a>
      <a href="/auth/profile">Edit Profile</a>
      <a href="/libraries">Show libraries</a>
      <a href="/libraries/new">Add libraries</a>
      <!-- <a href="/auth/profile">Edi</a> -->
      <% } else { %>
      <h1>Welcome to Maktabati!</h1>
      <h1>Here we go!</h1>
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Sign in</a>
      <% } %>
    </nav>

    
  </body>
</html>
